@import "~materialize-css/dist/css/materialize.min.css";

input.color-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
    color: #fff!important;
}

input.color-input + label {
    color: #fff!important;
}

input.create-input {
    border-bottom: 1px solid #37474f!important;
    box-shadow: 0 1px 0 0 #37474f!important;
    color: #000!important;
}

input.create-input + label.active {
    color: #37474f!important;
}
